@using LohnverrechnerGastro.Controllers

@*<div class="container">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/multimedia/pictures/calculator.jpg" alt="calculator"  height=40 width="27" asp-append-version="true" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navnbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Zum Rechner</a>
            </li>
            @if (UserController.Logged)
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Users</a>
            </li>
        </ul>

    </div>
</div>*@

<div id="nav">
    <ul>
        <li><a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/multimedia/pictures/calculator.jpg" alt="calculator" height=40 width="27" asp-append-version="true" /></a></li>
        <li><a class="navtext" asp-area="" asp-controller="Home" asp-action="Index">Calculator</a></li>
        @if (UserController.Logged)
        {
            <li><a class="navtext" asp-area="" asp-controller="User" asp-action="Logout">Logout</a></li>
        }
        else
        {
            <li><a class="navtext" asp-area="" asp-controller="User" asp-action="Login">Login</a></li>
        }
        <li><a class="navtext" asp-area="" asp-controller="User" asp-action="Index">Users</a></li>

    </ul>
</div>
