
@{
    ViewData["Title"] = "Impressum";
}


<p>
    Intakte Natur und ein herzliches, entspanntes Miteinander machen unser Schigebiet so einzigartig.
    Und auch der grandiose Fernblick, der sich vom Gipfel des Unterbergs n vier Schleppliften selten zu langen Wartezeiten kommt.
    Pisten nur mit Naturschnee erwarten alle Schifahrer und Snowboarder im Schigebiet Unterberg.
    Natürlich gibt’s auch ein Kinderschiland und einen Funpark.
</p>