@model LohnverrechnerGastro.Models.Eingaben
@{
    ViewData["Title"] = "Index";
}



    

    


<h1 style="text-align: center;">Rechner</h1>
<br />
<div class="felder">

    <form asp-controller="home" asp-action="index" method="post">
        <p>
            <label asp-for="Bundesland">
                Bundesland:
            </label>
            <select asp-for="Bundesland" dropzone="1">
                <option value="0">Burgenland</option>
                <option value="1">Kärnten</option>
                <option value="2">Niederösterreich</option>
                <option value="3">Oberösterreich</option>
                <option value="4">Salzburg</option>
                <option value="5">Steiermark</option>
                <option value="6">Tirol</option>
                <option value="7">Vorarlberg</option>
                <option value="8">Wien</option>
            </select>
            <span asp-validation-for="Bundesland"></span>
        </p>

        <p>
            <label asp-for="Jahr">
                Jahr:
            </label>
            <input type="number" asp-for="Jahr" />
            <span asp-validation-for="Jahr"></span>
        </p>
        <p>
            <label asp-for="Brutodnet">
                Brutto / Netto:
            </label>
            <select asp-for="Brutodnet" dropzone="1">
                <option value="Brutto">Brutto</option>
                <option value="Netto">Netto</option>
            </select>
            <span asp-validation-for="Brutodnet"></span>
        </p>
        <p>
            <label asp-for="Einkommen">
                Einkommen:
            </label>
            <input type="number" asp-for="Einkommen" />
            <span asp-validation-for="Einkommen"></span>
        </p>
        <p>
            <label asp-for="StundenproWoche">
                Stunden pro Woche:
            </label>
            <input type="number" asp-for="StundenproWoche" />
            <span asp-validation-for="StundenproWoche"></span>
        </p>

        <p>
            <label asp-for="SZvombrutodKV">
                SZ vom Brutto oder KV:
            </label>
            <select asp-for="SZvombrutodKV" dropzone="1">
                <option value="Brutto">Brutto</option>
                <option value="KV">KV</option>
            </select>
            <span asp-validation-for="SZvombrutodKV"></span>
        </p>
        <p>
            <input type="submit" value="absenden" />
            <input type="reset" value="abbrechen" />
        </p>
        <p>
            <label asp-for="TGPauschale">
                Trinkgeldpauschale:
            </label>
            <input type="number" asp-for="TGPauschale" />
            <span asp-validation-for="TGPauschale"></span>
        </p>
        <p>
            <label asp-for="Sachbezug">
                Sachbezug:
            </label>
            <input type="number" asp-for="Sachbezug" />
            <span asp-validation-for="Sachbezug"></span>
        </p>
        <p>
            <label asp-for="FKErsatz">
                Fahrtkostenersatz:
            </label>
            <input type="number" asp-for="FKErsatz" />
            <span asp-validation-for="FKErsatz"></span>
        </p>
        <p>
            <label asp-for="DNBeitrag">
                Dienstnehmerbeitrag:
            </label>
            <input type="number" asp-for="DNBeitrag" />
            <span asp-validation-for="DNBeitrag"></span>
        </p>
        <p>
            <label asp-for="LstFreibetrag">
                Lohnsteuer-Freibetrag:
            </label>
            <input type="number" asp-for="LstFreibetrag" />
            <span asp-validation-for="LstFreibetrag"></span>
        </p>
        <p>
            <label asp-for="FaBoPlus">
                Fabo+:
            </label>
            <input type="checkbox" asp-for="FaBoPlus" id="checkTogglefabo" onclick="togglefunc()" />
            <span asp-validation-for="FaBoPlus"></span>
        </p>
        <p id="zusatzfabo" style="display:none">
            <label asp-for="HalberBonus">
                Halber Bonus?:
            </label>
            <input type="checkbox" asp-for="HalberBonus" />
            <span asp-validation-for="HalberBonus"></span>
            &nbsp;&nbsp;&nbsp;&nbsp;                            @*Tabulatorabstand*@
            <label asp-for="AnzKinderbis17">
                Kinder bis 17:
            </label>
            <select asp-for="AnzKinderbis17" dropzone="1">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span asp-validation-for="AnzKinderbis17"></span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label asp-for="AnzKinderab18">
                Kinder ab 18:
            </label>
            <select asp-for="AnzKinderab18" dropzone="1">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span asp-validation-for="AnzKinderab18"></span>
        </p>
        <p>
            <label asp-for="AVABoAEAB">
                AVAB/AEAB:
            </label>
            <input type="checkbox" asp-for="AVABoAEAB" id="checkToggleavabaeab" onclick="togglefunc()" />
            <span asp-validation-for="AVABoAEAB"></span>
        </p>
        <p id="zusatzavabaeab" style="display:none">
            <label asp-for="AnzKinder">
                Kinder:
            </label>
            <select asp-for="AnzKinder" dropzone="1">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span asp-validation-for="AnzKinder"></span>
        </p>
        <p>
            <label asp-for="PendlerPauschale">
                Pendlerpauschale:
            </label>
            <input type="checkbox" asp-for="PendlerPauschale" id="checkTogglependler" onclick="togglefunc()" />
            <span asp-validation-for="PendlerPauschale"></span>
        </p>
        <p id="zusatzpendler" style="display:none">
            <label asp-for="Kategorie">
                Kinder:
            </label>
            <select asp-for="Kategorie" dropzone="1">
                <option value="0">20-40 km (klein)</option>
                <option value="1">40-60 km (klein)</option>
                <option value="2">ab 60 km (klein)</option>
                <option value="3">2-20 km (groß)</option>
                <option value="4">20-40 km (groß)</option>
                <option value="5">40-60 km (groß)</option>
                <option value="6">ab 60 km (groß)</option>
            </select>
            <span asp-validation-for="Kategorie"></span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label asp-for="AnzKilometer">
                Anzahl km:
            </label>
            <input type="number" asp-for="AnzKilometer" />
            <span asp-validation-for="AnzKilometer"></span>
        </p>
    </form>
</div>


@section Scripts{
    <script src="~/js/site.js" asp-append-version="true"></script>
}