@model LohnverrechnerGastro.Models.Eingaben
@{
    ViewData["Title"] = "Index";
}

<!--<h1 style="text-align: center;">Rechner</h1>-->
<div class="felder">
    <p class="notnull"><b>* Pflichtfeld</b></p>
    <form asp-controller="home" asp-action="index" method="post">
        <p>
            <label asp-for="Arbeiter">
                Arbeiter:
            </label>
            <input type="checkbox" asp-for="Arbeiter" id="checkTogglearbeiter" onclick="togglefunc()" value="true" />
            <span asp-validation-for="Arbeiter"></span>
            <a id="arb" style="display:none">
                <label asp-for="LohnGruppen">
                    Lohngruppen:
                </label>
                <select asp-for="LohnGruppen" dropzone="1">
                    <option value="0" selected>Lohngruppe 1</option>
                    <option value="1">Lohngruppe 2</option>
                    <option value="2">Lohngruppe 2b</option>
                    <option value="3">Lohngruppe 3</option>
                    <option value="4">Lohngruppe 4</option>
                    <option value="5">Lohngruppe 5</option>
                </select>
                <span asp-validation-for="LohnGruppen"></span>
            </a>
            <br />
            <label asp-for="Angestellter">
                Angestellter:
            </label>
            <input type="checkbox" asp-for="Angestellter" id="checkToggleangestellter" onclick="togglefunc()" value="true" />
            <span asp-validation-for="Angestellter"></span>
            <a id="ang" style="display:none">
                <label asp-for="BeschaeftigungsGruppen">
                    Beschaeftigungsgruppen:
                </label>
                <select asp-for="BeschaeftigungsGruppen" dropzone="1">
                    <option value="0" selected>Beschaeftigungsruppe 0</option>
                    <option value="1">Beschaeftigungsruppe 1</option>
                    <option value="2">Beschaeftigungsruppe 2</option>
                    <option value="3">Beschaeftigungsruppe 3</option>
                    <option value="4">Beschaeftigungsruppe 4</option>
                    <option value="5">Beschaeftigungsruppe 5</option>
                </select>
                <span asp-validation-for="BeschaeftigungsGruppen"></span>
            </a>
            @*@if (Model != null)
            {
            @if (Model.ArbeiteroAngestellter == "Angesteller")
            {
            <p>sarertretert</p>
            }

            }*@


            
        </p>

        @*eigentlich gebraucht aber falls man diese Werte Bundesland, Jahr, Brutodnet, SZvombrutodKV*@
            <p style="display: none;">
                <label asp-for="Bundesland">
                    Bundesland<b class="notnull">*</b>:
                </label>
                <select id="bundesland" asp-for="Bundesland" dropzone="1">
                    <option value="0">Vorarlberg</option>
                    <option value="1">Tirol</option>
                    <option value="2">Salzburg</option>
                </select>
                <span asp-validation-for="Bundesland"></span>
            </p>

        <p>
            <label asp-for="Betriebszugehoerigkeit">
                Betriebszugehoerigkeit<b class="notnull">*</b>:
            </label>
            <input id="betrzugeh" type="number" asp-for="Betriebszugehoerigkeit" value="5" />
            <span asp-validation-for="Betriebszugehoerigkeit"></span>

        </p>

        <p style="display: none;">
                <label asp-for="Jahr">
                    Jahr<b class="notnull">*</b>:
                </label>
                <input id="jahr" type="number" asp-for="Jahr" value="2022" />
                <span asp-validation-for="Jahr"></span>
        </p>


        <p>
            <label asp-for="Einkommen">
                Einkommen<b class="notnull">*</b>:
            </label>
            <input id="einkommen" type="number" asp-for="Einkommen" value="2000" />
            <span asp-validation-for="Einkommen"></span>
            
        </p>

        <p style="display: none;">
            <label asp-for="Brutodnet">
                Brutto / Netto<b class="notnull">*</b>:
            </label>
            <select id="brutodnet" asp-for="Brutodnet" dropzone="1">
                <option value="Brutto" selected>Brutto</option>
                <option value="Netto">Netto</option>
            </select>
            <span asp-validation-for="Brutodnet"></span>
        </p>

        <p>
            <label asp-for="StundenproWoche">
                Stunden pro Woche<b class="notnull">*</b>:
            </label>
            <input id="hprowoche" asp-for="StundenproWoche" value="40" onchange="onInputChange()" />
            <input asp-for="Anzahl_681" id="anz681" style="display: none" value="0" />

            <span asp-validation-for="StundenproWoche"></span>
            
        </p>
        <p style="display: none;">
            <label asp-for="SZvombrutodKV">
                SZ vom Brutto oder KV<b class="notnull">*</b>:
            </label>
            <select id="szbrutkv" asp-for="SZvombrutodKV" dropzone="1">
                <option value="Brutto" selected>Brutto</option>
                <option value="KV">KV</option>
            </select>
            <span asp-validation-for="SZvombrutodKV"></span>
        </p>


        <p>
            <label asp-for="TGPauschale">
                Trinkgeldpauschale:
            </label>
            <input id="tgpauschale" type="number" asp-for="TGPauschale" value="0" />
            <span asp-validation-for="TGPauschale"></span>
        </p>
        <p>
            <label asp-for="Sachbezug">
                Sachbezug:
            </label>
            <input id="sachbezug" type="number" asp-for="Sachbezug" value="0" />
            <span asp-validation-for="Sachbezug"></span>
        </p>
        <p>
            <label asp-for="FKErsatz">
                Fahrtkostenersatz:
            </label>
            <input id="fkersatz" type="number" asp-for="FKErsatz" value="0" />
            <span asp-validation-for="FKErsatz"></span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label asp-for="FaBoPlus">
                Fabo+:
            </label>
            <input type="checkbox" asp-for="FaBoPlus" id="checkTogglefabo" onclick="togglefunc()" value="true" />
            <span asp-validation-for="FaBoPlus"></span>
            <a id="zusatzfabo" style="display:none">
                <label asp-for="HalberBonus">
                    Halber Bonus?:
                </label>
                <input type="checkbox" asp-for="HalberBonus" value="true" />
                <span asp-validation-for="HalberBonus"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;                            @*Tabulatorabstand*@
                <label asp-for="AnzKinderbis17">
                    Kinder bis 17:
                </label>
                <select asp-for="AnzKinderbis17" dropzone="1">
                    <option value="0" selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span asp-validation-for="AnzKinderbis17"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label asp-for="AnzKinderab18">
                    Kinder ab 18:
                </label>
                <select asp-for="AnzKinderab18" dropzone="1">
                    <option value="0" selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span asp-validation-for="AnzKinderab18"></span>
            </a>
        </p>
        <p>
            <label asp-for="DNBeitrag">
                Dienstnehmerbeitrag:
            </label>
            <input id="dnbeitrag" type="number" asp-for="DNBeitrag" value="0" />
            <span asp-validation-for="DNBeitrag"></span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <label asp-for="AVABoAEAB">
                AVAB/AEAB:
            </label>
            <input type="checkbox" asp-for="AVABoAEAB" id="checkToggleavabaeab" onclick="togglefunc()" value="true" />
            <span asp-validation-for="AVABoAEAB"></span>
            <a id="zusatzavabaeab" style="display:none">
                <label asp-for="AnzKinder">
                    Kinder:
                </label>
                <select asp-for="AnzKinder" dropzone="1">
                    <option value="0" selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span asp-validation-for="AnzKinder"></span>
            </a>
        </p>
        <p>
            <label asp-for="LstFreibetrag">
                Lohnsteuer-Freibetrag:
            </label>
            <input id="lstfreibetrag" type="number" asp-for="LstFreibetrag" value="0" />
            <span asp-validation-for="LstFreibetrag"></span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label asp-for="PendlerPauschale">
                Pendlerpauschale:
            </label>
            <input type="checkbox" asp-for="PendlerPauschale" id="checkTogglependler" onclick="togglefunc()" value="true" />
            <span asp-validation-for="PendlerPauschale"></span>
            <a id="zusatzpendler" style="display:none">
                <label asp-for="Kategorie">
                    Kinder:
                </label>
                <select asp-for="Kategorie" dropzone="1">
                    <option value="0" selected>20-40 km (klein)</option>
                    <option value="1">40-60 km (klein)</option>
                    <option value="2">ab 60 km (klein)</option>
                    <option value="3">2-20 km (groß)</option>
                    <option value="4">20-40 km (groß)</option>
                    <option value="5">40-60 km (groß)</option>
                    <option value="6">ab 60 km (groß)</option>
                </select>
                <span asp-validation-for="Kategorie"></span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label asp-for="AnzKilometer">
                    Anzahl km:
                </label>
                <input type="number" asp-for="AnzKilometer" value="0" />
                <span asp-validation-for="AnzKilometer"></span>
            </a>
        </p>
        <p>
            <input type="submit" value="berechnen" />
            <input type="reset" value="zurücksetzen" />
        </p>
        <p>
            <label asp-for="Ergebnis" class="output">
                Auszahlung: @if (Model != null)
                {
                    <a>@Math.Round(Model.Ergebnis, 2) €</a>
                }
            </label>
            <output type="text" asp-for="Ergebnis" />
            <span asp-validation-for="Ergebnis"></span>
            <label asp-for="Netto" class="output">
                Netto: @if (Model != null)
                {
                    <a>@Math.Round(Model.Netto, 2) €</a>
                }
            </label>
            <output type="text" asp-for="Netto" />
            <span asp-validation-for="Netto"></span>
        </p>
    </form>
</div>


@section Scripts{
    <script src="~/js/site.js" asp-append-version="true"></script>
}