
@{
    ViewData["Title"] = "Index";
}

<p>
    Intakte Natur und ein herzliches, entspanntes Miteinander machen unser Schigebiet so einzigartig.
    Und auch der grandiose Fernblick, der sich vom Gipfel des Unterbergs auf das tolle Voralpenpanorama auftut,
    trägt das Seinige bei. Schneeberg, Schneealpe, Rax und sogar Wien oder der Neusiedler See, alles fast zum Angreifen nah.

    Insgessaeeeeeeeeeeeeeeeeeeeee
</p>