@model LohnverrechnerGastro.Models.User
@{
    ViewData["Title"] = "Login";
}

<div class="reglo">
    <h1>Anmeldung</h1>
    <form asp-controller="user" asp-action="login" method="post">
        <p>
            <label asp-for="Name">
                Benutzername
            </label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </p>
        <p>
            <label asp-for="Password">
                Passwort
            </label><br />
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </p>
        <p>
            <input id="Button1" type="submit" value="anmelden" />
            <input type="reset" value="abbrechen" />
        </p>
    </form>
    <form id="form1" runat="server">
        <div class="div">
            <asp:Button id="btn" Text="Click Me" CssClass="btn-default" runat="server" onclick="btn_Click"></asp:Button>
        </div>
    </form>
</div>