@model LohnverrechnerGastro.Models.User
@{
    ViewData["Title"] = "Login";
}

<div class="reglo">
    <h1>Anmeldung</h1>
    <form asp-controller="user" asp-action="login" method="post">
        <p>
            <label asp-for="Name">
                Benutzername
            </label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </p>
        <p>
            <label asp-for="Password">
                Passwort
            </label><br />
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </p>
        <p>
            <input type="submit" value="anmelden" href="#" data-toggle="modal" data-target="#exampleModalCenter" @*onclick="OpenPopup()"*@/>
            <input type="reset" value="abbrechen" />
            <a href="#" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-trash"></i></a>
        </p>
    </form>
</div>
@*@if(Model!= null){
    @if(Model.IsError == true){
<!-- Pop Up -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Benutzer löschen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Wollen Sie ihr Benutzerkonto wirklich löschen?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <a class="btn btn-primary" asp-controller="user" asp-action="yourdata_delete">Löschen</a>
            </div>
        </div>
    </div>
</div>
    }
}*@




@section Scripts{
    <script src="~/js/site.js" asp-append-version="true"></script>
}