@model LohnverrechnerGastro.Models.User
@{
    ViewData["Title"] = "Registration";
}

<div class="reglo">
    <h1>Registration</h1>
    <form asp-controller="user" asp-action="registration" method="post">
        <p>
            <label asp-for="Name">
                Benutzername
            </label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name"></span>
            <br>
            <span id="namemessage" style="visibility:hidden; color:red; font-size:0.8em; 
                font-weight:bold">Benutzername existiert bereits</span>
        </p>
        <p>
            <label asp-for="Email">Email</label><br />
            <input type="email" asp-for="Email" />
            <span asp-validation-for="Email"></span>
            <br>
            <span id="emailmessage" style="visibility:hidden; color:red; font-size:0.8em; font-weight:bold">EMail-Adresse existiert bereits</span>
        </p>
        <p>
            <label asp-for="Password">
                Passwort
            </label><br />
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
            <br>
            <br>
        </p>
        <p>
            <input type="submit" value="registrieren" />
            <input type="reset" value="abbrechen" />
        </p>
    </form>
</div>

@section Scripts{
    <script src="~/js/registration.js" asp-append-version="true"></script>
}